@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Roboto+Mono:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Roboto', Arial, sans-serif;
  background: #20407b;
  color: #fff;
}

h1, h2, h3, h4, h5, h6, .font-archivo {
  font-family: 'Archivo Black', Arial, sans-serif;
}

.font-mono {
  font-family: 'Roboto Mono', monospace;
}
